<h4>{{bill.[0].short_title}}</h4>
<h3>{{bill.[0].official_title}}</h3>
<hr>
<h4>Introduced On: {{bill.[0].introduced_on}}</h4>
<h4>Last Action At: {{bill.[0].last_action_at}}</h4>
<h4>Withdrawn Cosponsors Count: {{bill.[0].withdrawn_cosponsors_count}}</h4>
<h4>Congress Members: {{bill.[0].congress}}</h4>
